
<div class="cart-details">
    <ul class="unstyled-list list-inline">
        <li>
            <a href="@Url.Action("Index", "Cart")">
                <span class="cart">
                    <p class="badge">
                        @ViewData["CartCount"]
                    </p>
                </span>
            </a>
        </li>
    </ul>
</div>
