
        <a href='@Url.Action("Index", "Cart")'>
            <strong>Cart</strong>
            <span id="cart-status" class="badge">
                0
                @*@ViewData["CartCount"]*@
            </span>
        </a>
    

}
