
@{
    ViewBag.Title = "Cart index page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="CartController">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- empty cart message -->
                    
                    <tr ng-hide="cart.CartCount > 0">
                        <td class="tdCenter" colspan="4">
                            Your cart is empty, Go do some shopping :-)
                        </td>
                    </tr>

                    <tr ng-repeat="item in cart.data">
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                @*TODO: [MAYBE] add thumbnail image for products*@ 
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{item.Product.Name}}</a></h4>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="number" class="form-control text-center" value="1">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>€{{item.Product.Price}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>TODO:</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>€{{cart.CartTotal}}</strong></h3></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span>Continue Shopping
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
