@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Feedback or questions about this website</h3>

<address>
    Pieter Reypenslei 18<br />
    2640 Mortsel<br />
    Belgium <br/>
    <abbr title="Phone">P:</abbr>
    0471504687<br />
    <abbr title="Email">E:</abbr>
    vdbossche.sam@gmail.com
</address>