html, body {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    background: #F2F2F2;
}

    body a {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        text-decoration: none;
    }
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row ::before ::after {
    background-color: red;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*Front page product thumbnails */
.frontpageItem {
    width: 500px;
    overflow: hidden;
    position: relative;
    min-height: 600px;
}

.thumbnail-image {
    height: 350px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.frontpageItem .caption {
    bottom: 0px;
}
.caption-title{
    height:70px
}

.caption-price{
    float:left;
}
.caption-description {
    height: 350px;
    overflow:hidden;
    float:right;
    font-size:1em;
}

.caption-button{
    margin-top: 35px;
    height:50px;
}

/*----container----*/
.container {
    width: 70%;
}
/*----top-header---*/
.top-header {
    padding: 2em 0;
}

.logo {
    float: left;
    margin-top: 1.1em;
}

.top-header-info {
    float: right;
}

/*---top-contact-info---*/
.top-contact-info {
    margin-bottom: 0.9em;
    text-align: right;
}

    .top-contact-info li span {
        width: 15px;
        height: 15px;
        display: inline-block;
    }

        .top-contact-info li span.phone {
            background: url(../Content/images/phone-icon.png) no-repeat 0px 0px;
            vertical-align: middle;
            margin-right: 0.2em;
        }

        .top-contact-info li span.mail {
            background: url(../Content/images/mail-icon.png) no-repeat 0px 0px;
            vertical-align: middle;
            margin-right: 0.2em;
        }

    .top-contact-info ul li a:hover {
        text-decoration: none;
        color: #EF3626;
    }

/*Login and register section*/
.login-register {
    float: right;
}

    .login-register li a.register {
        background: #F03627;
        color: #FFF;
        padding: 0.5em 2.5em;
        display: inline-block;
        border-radius: 0.3em;
        -webkit-border-radius: 0.3em;
        -moz-border-radius: 0.3em;
        -o-border-radius: 0.3em;
        -ms-border-radius: 0.3em;
        border: 1px solid #B64E30;
        border-top: 2px solid #B64E30;
        font-weight: 600;
    }


    .login-register li a.login {
        color: #444444;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 0.6em;
        text-decoration: underline;
    }

        .login-register li a.login:hover {
            color: #EF3626;
            text-decoration: none;
        }

    .login-register li a.register {
        background: #F03627;
        color: #FFF;
        padding: 0.5em 2.5em;
        display: inline-block;
        border-radius: 0.3em;
        -webkit-border-radius: 0.3em;
        -moz-border-radius: 0.3em;
        -o-border-radius: 0.3em;
        -ms-border-radius: 0.3em;
        border: 1px solid #B64E30;
        border-top: 2px solid #B64E30;
        font-weight: 600;
    }

        .login-register li a.register:hover {
            text-decoration: none;
            background: #5B5B5B;
            border: 1px solid #5B5B5B;
            border-top: 2px solid #5B5B5B;
        }

/*Shopping Cart*/
.top-user-section {
    border: 1px solid #FFF;
    padding: 0.7em 0.3em;
    border-radius: 0.3em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
}


    .top-user-section ul li {
        list-style: none;
    }

    .top-user-section ul {
        margin: 0;
        padding: 0;
    }

.cart-details {
    float: left;
}

span.cart {
    width: 60px;
    height: 35px;
    display: inline-block;
    background: url(../Content/images/cart.png) no-repeat 0px 6px;
    border-right: 1px solid #DDD9D9;
    padding-right: 0.8em;
    margin-top: 0.3em;
}

.cart p {
    margin-left: 58%;
    margin-top: 18.5%;
}


/*could be used when I want to make the items in the cart visible as listitems */

/*.cart-details li {
    position: relative;
}

    .cart-details li:hover ul.cart-sub {
        display: block;
        position: absolute;
        top: 55px;
        left: 0px;
    }

ul.cart-sub {
    display: none;
    background: #FFF;
    padding: 0.5em;
}

    ul.cart-sub li p {
        color: #EF3626;
    }*/

/*Navigation*/
.main-menu {
    border: 1px solid #E6E6EB;
    background: -moz-linear-gradient(top, #fefefe 0%, #f7f7f7 48%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(48%,#f7f7f7), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fefefe 0%,#f7f7f7 48%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fefefe 0%,#f7f7f7 48%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fefefe 0%,#f7f7f7 48%,#f7f7f7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fefefe 0%,#f7f7f7 48%,#f7f7f7 100%); /* W3C */
    padding: 0 0.2em;
    z-index: 999;
}

ul.top-nav {
    margin: 0;
}

    ul.top-nav li span {
        width: 1px;
        height: 45px;
        display: inline-block;
        background: #DBDBDB;
        top: 15px;
        position: absolute;
    }

.top-nav li a {
    color: #444444;
    padding: 1em 1.5em;
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    font-weight: 800;
}

.top-nav ul li a:hover {
    color: #EE3023;
    background-color: #f7f7f7;
}

.top-nav:before,
.top-nav:after {
    content: " ";
    display: table;
}

.top-nav:after {
    clear: both;
}

nav {
    position: relative;
}

    nav ul {
        padding: 0;
    }

    nav li {
        display: inline;
        float: left;
        position: relative;
    }

    nav a {
        color: #fff;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        line-height: 40px;
    }

        nav a:hover {
            text-decoration: none;
            color: #00A2C1;
        }
/*main menu break manipulation*/
@media (max-width: 830px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

        .navbar-collapse.collapse {
            display: none !important;
        }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }
}

/*homepage slider*/
.carousel {
   
    
    width: 110%;
    
}

.carousel-inner {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: -46px;
}

.carousel-control.left, .carousel-control.right {
    background: none !important;
    filter: progid: none !important;
    outline: 0;
}

.carousel .carousel-control {
    visibility: hidden;
}

.carousel:hover .carousel-control {
    visibility: visible;
}


/*PRODUCTS PAGE */

.products {
    background: #FFF;
    margin: 2em 15px 5em;
    padding: 1.2em 1.5em;
    margin: 1.5em 0;
}

.products-grid-container {
    margin: 1.3em 0;
}

.products-grid {
    border: 1px solid #E2E2E2;
    padding: 0.5em 0.5em 1em 0.5em;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.products-grid {
    margin: 0px 15px 15px 0;
    width: 23.7%;
}

    .products-grid:hover {
        border: 1px solid #FE3026;
    }

    .products-grid:nth-child(4), .products-grid:nth-child(8) {
        margin-right: 0px;
    }

    .products-grid h4 {
        width: 80%;
        margin: 0 auto 0.5em;
    }

        .products-grid h4 a {
            font-weight: 600;
            color: #2E2E2E;
            margin: 0 0 1em;
            display: block;
        }

            .products-grid h4 a:hover {
                text-decoration: none;
                color: #FE3026;
            }

.product-link img {
    width: 100%;
    border-bottom: 1px solid #EEE;
    display: block;
    margin-bottom: 0.5em;
}

.product-btn {
    background: #FE2F18;
    padding: 0.4em 1em;
    color: #fff;
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -o-border-radius: 30em;
    -ms-border-radius: 30em;
    border: 1px solid #B64E30;
    border-top: 2px solid #B64E30;
    display: inline-block;
}

    .product-btn:hover {
        text-decoration: none;
        background: #5B5B5B;
        border: 1px solid #5B5B5B;
        border-top: 2px solid #5B5B5B;
        color: #FFf;
    }

    .product-btn span {
        padding-right: 0.3em;
        margin-right: 0.3em;
        border-right: 1px solid #888;
        display: inline-block;
    }

    .product-btn label {
        width: 12px;
        height: 12px;
        display: inline-block;
        background: url(../images/arrow.png) no-repeat 0px 0px;
        vertical-align: middle;
        margin-left: 0.2em;
    }




/*----product details page----*/
.product-price-qty {
    float: right;
    margin: 1.2em 0;
}

    .product-price-qty span {
        display: block;
        color: #3E3E3E;
        font-size: 1em;
        font-style: italic;
    }

.product-price {
    float: left;
    margin-top: 21px;
}

    .product-price span {
        white-space: nowrap;
        position: relative;
        margin: 0 5px 0 10px;
        displaY: inline-block;
        height: 25px;
        border-radius: 0 5px 5px 0;
        padding: 0 25px 0 15px;
        background: #ef3326;
        border: 0 solid #C7D2D4;
        border-top-width: 1px;
        border-bottom-width: 1px;
        line-height: 23px;
        font-size: 1em;
        color: white;
    }

        .product-price span:after {
            position: absolute;
            right: 0;
            margin: 1px 7px;
            font-weight: bold;
            font-size: 19px;
        }

        .product-price span:before {
            position: absolute;
            background: #ef3326;
            content: "\25CF";
            color: white;
            text-shadow: 0 0 1px #aaa;
            font-size: 12px;
            line-height: 13px;
            text-indent: 6px;
            top: 3px;
            left: -10px;
            width: 18px;
            height: 18px;
            transform: rotate(45deg);
            border-left: 1px solid #C7D2D4;
            border-bottom: 1px solid #C7D2D4;
        }




.pro-qty {
    float: right;
    margin-left: 10px;
}

    .pro-qty select {
        width: 50px;
    }


.product-cart {
    float: right;
}

.add-cart-btn input[type="button"] {
    background: url(images/cart-icon.png) no-repeat 136px 13.5px #EF3326;
    border: 1px solid #B64E30;
    border-top: 2px solid #B64E30;
    color: #FFF;
    font-size: 1.2em;
    outline: none;
    padding: 0.42em 3em 0.5em 2em;
    border-radius: 0.3em;
    cursor: pointer;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

    .add-cart-btn input[type="button"]:hover {
        background: url(images/cart-icon.png) no-repeat 136px 13.5px #5B5B5B;
        text-decoration: none;
        border: 1px solid #5B5B5B;
        border-top: 2px solid #5B5B5B;
    }
