<div class="login-register">
    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "login" }))
        {
            @Html.AntiForgeryToken()

            <ul class="unstyled-list list-inline">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "login" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()" class="register">Log off</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="unstyled-list list-inline">
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "login" })</li>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "register" })</li>
            <div class="clearfix"> </div>
        </ul>
    }
</div>

